<!DOCTYPE html>
<html>
    <head>
        <title>Week 9: Number Theory</title>
        <meta charset="utf-8">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
        <style>
            @import url(https://fonts.googleapis.com/css?family=Patua+One);
            @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
            @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

            body {
                font-family: 'Droid Serif', Serif;
            }
            h1, h2, h3 {
                font-family: 'Patua One', Serif;
                font-weight: normal;
            }
            .remark-code, .remark-inline-code {
                font-family: 'Ubuntu Mono', Monospace;
            }
            .remark-code {
                font-size: 120%;
            }
            textarea {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
            }
            p, li {
                font-size: 120%;
            }
        </style>
    </head>
    <body>
        <textarea id="source">
        class: center, middle
